<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Delicioso
      </a>
    </div>
    <ul class="nav navbar-nav">
        <li>{{#link-to "index"}} Menú {{/link-to}}</li>
        <li>{{#link-to "dish.new"}} Nuevo Plato {{/link-to}}</li>
    </ul>

  </div>
</nav>