<form class="form-horizontal">

  <fieldset>

    <legend>Nuevo Plato</legend>

    <div class="form-group">
      <label class="col-md-2 control-label" for="textinput">Nombre</label><br>
      <div class="col-md-6">
        {{input id="textinput" value=model.name name="name" type="text" placeholder="Nombre del Plato" class="form-control input-md"}}
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="textinput">Descripción</label><br>
      <div class="col-md-6">
        {{input id="textinput" value=model.description name="name" type="text" placeholder="Describe..." class="form-control input-md"}}
      </div>
    </div>

  </fieldset>

</form>